body {
  margin: 0;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner-img {
  max-width: 100%;
  height: auto;
}

.banner-title {
  position: absolute;
  width: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.1) 100%);
  text-align: center;
  color: blanchedalmond;
  font-size: clamp(1rem, calc(10vw + 0.5rem), 8rem);
}

.nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

.tab {
  padding: 1rem 3rem;
  background-color: blanchedalmond;
  border: 1px solid black;
  font-size: clamp(1rem, calc(2vw + 0.5rem), 2.5rem);
}

.headline {
  text-align: center;
  font-size: clamp(1rem, calc(2vw + 0.5rem), 2.5rem);
  font-style: italic;
}

.description {
  white-space: pre-wrap;
}
